@import "partials/path";

/////////////////////////////////////



body {
    //background-color: $akcent;
    height: 100%;
    &.overflow{
      overflow: hidden;
    }
}


.header{

}

.btn-nav{
  display: none;
}

.header-top{
  background-color: #000;
}

.cr-mob{
  display: none;
}

.logo{
  text-decoration: none;
  width: 30%;
  //margin: 0 0 0 -3px;
}

.header-nav{
  width: 70%;
  display: block;
  //text-align: center;
  padding: 27px 0 40px;
}

.list-entrance {
  display: inline-block;
  padding: 0 19px 0 0;
    &__item {
        display: inline-block;
        padding: 0 20px 0 0;
    }

    &__link {
        display: inline-block;
        color: $akcent;
        text-decoration: none;
        font-weight: bold;
        font-size: rem(13);
    }
}


.list-nav{
  display: inline-block;

  &__item{
    display: inline-block;
    padding: 0 10px;
    position: relative;

  }
  &__link{
    display: inline-block;
    color: #fff;
    font-weight: bold;
    font-size: rem(13);
    text-decoration: none;
    transition: all, 0.3s, ease;
    &:hover{
      color: $akcent;
    }
    &-up{
      position: relative;
      &:before{
        content: '';
        border-top: 4px solid #fff;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        position: absolute;
        top: 5px;
        right: -12px;
      }
      &:hover{
        &:before{
          border-top-color: $akcent;
        }
      }
    }
  }
}

.list-nav-up{
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: #000;
  min-width: 160px;
  border-radius: 4px;
  margin: 35px 0 0 -70px;
  padding: 5px 0;
  &__item{
    display: block;
  }
  &__link{
    display: inline-block;
    color: #fff;
    font-weight: bold;
    font-size: rem(13);
    text-decoration: none;
    transition: all, 0.3s, ease;
    padding: 3px 0 0 40px;
    line-height: 30px;
    &:hover{
      color: $akcent;
    }
    
  }
  &.active{
    display: block;
  }
}

.language{
  display: inline-block;
  position: relative;
  &:before{
    content: '';
    border-top: 4px solid #9d9d9d;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    position: absolute;
    top: 9px;
    right: -7px;
  }
  &__link{
    display: inline-block;
    text-decoration: none;
    color: #9d9d9d;
    font-size: rem(13);
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 6px 0 0px;
    &:first-child{
      border-right: 1px solid #9d9d9d;
    }
  }
}


.langu-up{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: #000;
    min-width: 160px;
    border-radius: 4px;
    margin: 35px 0 0 -70px;
    padding: 5px 0;
    &.active{
      display: block;
    }
    &__item{
      border-bottom: 1px solid #222;
      &:last-child{
        border: none;
      }
    }
    &__link{
      display: block;
      padding: 7px 5px 5px 45px;
      text-decoration: none;
      color: #fff;
      font-size: rem(13);
      margin: 5px 0;
      font-weight: bold;
      &.eng{
        background: url('../images/lang.png') no-repeat 15px 5px;
        background-position: 15px -17px !important;
      }
      &.rus{
        background: url('../images/lang.png') no-repeat 15px 5px;
      }
      &:hover{
        color: #9d9d9d;
      }


  }
}



.box-img{
  position: relative;
  //background-color: #070c0e;
  text-align: center;
  &__img{
    width: 100%;
    margin: 0 0 -2px;
  }
  &__content{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50%;
    width: 100%;
    margin: -8% 0 0 -50%;

  }
}

.box-slid{
  color: #fff;
  text-align: left;
  &__h{
    font-weight: 600;
    padding: 0 0 18px;
  }
  &__title{
    line-height: 28px;
    padding: 0 0 51px;
  }
  &__link{
    text-transform: uppercase;
    padding: 20px 23px;
  }
}

.btn{
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  background-color: $akcent;
  border-radius: 6px;
  transition: all, 0.5s, ease;
  &:hover{
    background-color: darken($akcent, 11%);
  }
}








.competitions{
  padding: 72px 0 56px;
    &__h{
      font-weight:700;
      padding: 0 0 37px;
    }
}

.compe-of{
  font-size: rem(14);
  font-weight: 400;
  padding: 0 0 0 16px;
  display: inline-block;
  &.right{
    padding: 19px 4px 0 0;
  }
  &__link{

  }
}


.compet-item{
  padding: 19px 18px 29px;
  -webkit-box-shadow: 0px 5px 10px 5px rgba(50, 50, 50, 0.2);
  -moz-box-shadow:    0px 5px 10px 5px rgba(50, 50, 50, 0.2);
  box-shadow:         0px 5px 10px 5px rgba(50, 50, 50, 0.2);
  margin: 0 0 25px;
  &__img{
    width: 100%;
    min-width: 264px;
    min-height: 265px;
  }
  &__link{
    font-size: rem(30);
    font-family: 'Lobster', cursive;
    text-decoration: none;
    display: inline-block;
    position: relative;
    margin: 17px 0;
    &:after{
      content: '';
      width: 100%;
      height: 1px;
      background-color: $akcent;
      position: absolute;
      bottom: 0;
      left: 0;
      transition: all, 0.3s, ease;
    }
    &:hover{
      &:after{
        background-color: transparent;
      }
    }
  }
}


.compet-list{
  &__item{
    font-size: rem(12);
    font-weight: 400;
    width: 27%;
    float: left;
    position: relative;
    &:after{
      content: '';
      width: 1px;
      height: 13px;
      background-color: #e2e2e2;
      position: absolute;
      top: 50%;
      right: 10px;
      margin: -7px 0 0;
    }
    &:last-child{
      width: 18%;
      &:after{
        display: none;
      }
    }
  }
  &__sum{
    font-weight: 600;
    font-size: rem(10);
    color: #909090;
    display: block;
    padding: 0 0 4px;
  }
}

.rub{
  font-size: rem(13);
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  font-family: 'PT Sans', sans-serif;
  &:before{
    content: '';
    width: 100%;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 60%;
    left: 0;
  }
}


.compet-btn{
  text-align: center;
  padding: 38px 0;
  &__btn{
    padding: 21px 32px;
  }
}

////////////////////////////////////////////////////////////////////////////////


.box-img__content-two{

}

.box-slid-two{
  text-align: center;
}


.started{
  font-size: rem(14);
  display: inline-block;
  vertical-align: middle;
}
.started-icon{
  vertical-align: middle;
}

.nav-box{
  background-color: $akcent;
}

.nav-menu{
  text-align: center;
  &__item{
    display: inline-block;
  }
  &__link{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: rem(16);
    font-weight: 600;
    padding: 22px 20px;
    transition: all, 0.3s, ease;
    &:hover{
      background-color: darken($akcent, 5%);
    }
  }
}



.competition{
  background-color: #fff;
  padding: 65px 0 0;
}

.photo-img{
  max-width: 240px;
  max-height: 270px;
  margin: 8px 0 -2px;

}

.competition-text{
  padding: 0 0 33px;
  h3{
    padding: 18px 0 32px;
  }
  p{
    line-height: 28px;
    padding: 0 0 10px;
  }
}

.h3{
  span{
    font-weight: 700;
  }
}


.member{
  background: url('../images/border-cast.png') 0 0 repeat-x;
  padding: 30px 0;
  &__item{
    text-align: center;
    color: #6a6a6a;
  }
  &__numb{
      font-size: rem(30);
      font-weight: 700;
  }
  &__text{
      font-size: rem(14);
      font-weight: 600;
      padding: 6px 0;
  }
}

.peak-design{
  background-color: #f5f5f5;
  padding: 102px 0;
  &__item{

  }
  &__img{
    margin: 0 0 -2px;
    float: right;
  }
  h3{
    padding: 0 0 32px;
  }
  p{
    line-height: 28px;
  }
  &__btn{
    padding: 20px 30px;
    margin: 38px 0 0;
  }
}

.chal-spo{
  color: #fff;
  font-size: rem(12);
  font-weight: 600;
  display: inline-block;
  background-color: #4d76a1;
  padding: 9px 10px;
  margin: 0 0 0 14px;
  vertical-align: top;
}






////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////


.rate{
  padding: 50px 0;
  background-color: #fff;
  overflow: hidden;
  position: relative;
  &__item{
    margin: 0 0 62px;
  }
  &-head{
    padding: 10px 8px;
    &__numb{
      width: 58px;
      height: 58px;
      background-color: #fff;
      border: 2px solid $akcent;
      border-radius: 30px;
      display: inline-block;
      color: $akcent;
      text-align: center;
      vertical-align: middle;
      line-height: 50px;
      font-size: rem(30);
    }
    &__top{
      padding: 0 0 18px 76px;
    }
    &__h{
      font-weight: 700;
      padding: 11px 0;
    }
  }
}

.line-h{
  color: #dcdcdc;
}


.popular{
  display: inline-block;
  font-style: italic;
  font-size: rem(14);
  color: #4c4c4c;
  vertical-align: middle;
  padding: 0 25px 0 0;
  i{
    vertical-align: middle;
    margin: 0 9px 0 0;
  }
}


.rate-box{
  padding: 17px;
  -webkit-box-shadow: 0px 5px 10px 5px rgba(50, 50, 50, 0.2);
  -moz-box-shadow:    0px 5px 10px 5px rgba(50, 50, 50, 0.2);
  box-shadow:         0px 5px 10px 5px rgba(50, 50, 50, 0.2);
  &:hover{
    .rate-box__button{
      bottom: 0;
    }
  }
  &__img{
    margin: 0 0 -2px;
    width: 100%;
    max-width: 264px;
    max-height: 266px;
  }
  &__content{
    position: relative;
    display: block;
    overflow: hidden;
  }
  &__button{
    transition: bottom, 0.5s, ease;
    position: absolute;
    left: 0;
    bottom: -80px;
    width: 100%;
    height: 73px;
    line-height: 70px;
    color: #fff;
    text-decoration: none;
    font-size: rem(30);
    font-family: 'Lobster', cursive;
    display: block;
    text-align: center;
    background-color: rgba(13, 13, 13, 0.6);
  }
}


.levels{
  position: absolute;
  right: -100px;
  top: 0;
  transition: all, 0.9s, ease;
  &.fixed{
    position: fixed;
    right: 0px;
    top: 8%;
    z-index: 9;
  }
  &__item{

  }
  &__link{
    text-decoration: none;
    color: #fff;
    font-size: rem(14);
    font-style: italic;
    display: inline-block;
    width: 100%;
    height: 100px;
    text-align: center;
    padding: 25px 0 0;
    &-1{
      background-color: #dc3f4e;
    }
    &-2{
      background-color: #000;
    }
    &-3{
      background-color: #1c1c1c;
    }
    &-4{
      background-color: #323232;
    }
    &-5{
      background-color: #535353;
    }
  }
  &__numb{
    display: block;
    font-style: normal;
    font-size: rem(30);
    font-weight: 700;
    padding: 5px 0 0;
  }
}



////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

.rules{
  background-color: #fff;
  padding: 62px 0;
  &-item{
    background: url(../images/border-cast.png) 0 100% repeat-x;
    padding: 28px 0 ;
    &:last-child{
      background-image: none;
    }
  }
  &-icons{
    text-align: right;
    padding: 0 20px;
  }
  &-content{
    line-height: 36px;
  }
  &__h{
    font-weight: 700;
    padding: 0 0 3px;
  }
}


.rules-list{
  padding: 0 0 20px;
  &__item{

  }
  &__bold{
    font-weight: 700;
    min-width: 90px;
    display: inline-block;
  }
}




////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

.popap{
  display: none;
}
.vote{
  background-color: #131313;
  width: 100%;
  //height: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 999;
}
.vote-head{
  //height: 70px;
  height: 0;
  overflow: hidden;
  // max-width: 940px;
  // margin: 0 auto;
  text-align: left;
  padding: 20px 0 0;
  &__h{
    font-size: rem(30);
    color: #fff;
  }
}
.closes{
  display: inline-block;
  float: right;
}

.vote-box{
  overflow: auto;
  width: 100%;
  height: 100%;
  #mCSB_2_scrollbar_vertical{
    opacity: 0;
    width: 0!important;
  }
  .mCSB_inside>.mCSB_container{
    margin: 0 !important;
  }
  &__item{
    float: left;
    padding: 10px;
    width: 33.333%;
    height: 40vh;
    img{
      width: 100%;
      //height: auto;
      
    }

  }
  &__link{
    display: inline-block;
    text-decoration: none;
    position: relative;
    &.active{
      .vote-actie-box{
        opacity: 1;
      }
      .vote-active{
        opacity: 1;
        transform: scale(1,1);
      }
    }
  }
}

.blur {
    -webkit-filter: blur(5px);
       -moz-filter: blur(5px);
         -o-filter: blur(5px);
        -ms-filter: blur(5px);
            filter: blur(5px);
  }

.vote-actie-box{
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: all, 0.3s, ease;

}
.vote-active{
  opacity: 0;
  transform: scale(0.5,0.5);
  transition: all, 0.3s, ease;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;

}

.vote-footer{
  width: 100%;
  //height: 120px;
  height: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #000000;
  padding: 20px 0 0;
}

.vote-nav{
  text-align: left;
  float: left;
  max-width: 63%;
  #mCSB_1_scrollbar_horizontal{
    opacity: 0;
  }
  .mCSB_inside>.mCSB_container{
    margin: 0 !important;
  }
  &__item{
    display: inline-block;
    width: 95px;
    height: 80px;
    margin: 0 23px 0 0;
  }
  &__link{
    display: inline-block;
  }
}

.vote-btn{
  float: right;
  padding: 20px 25px;
  text-transform: uppercase;
  font-size: rem(24);
  margin: 5px 13px;
}



.vote-two{
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    color: #fff;
    text-align: center;
    padding:30px 0 0;
    &__h{
      font-size: rem(48);
      font-weight: 700;
    }

}
.vote-sol{
  width: 222px;
  height: 222px;
  background-color: #0d0d0d;
  display: inline-block;
  border-radius: 111px;
  padding: 50px;
  margin: 10% 0;
  &__golos{
    //text-transform: uppercase;
    font-size: rem(60);
    display: block;

  }
}

.vote-two-btn{
  padding: 20px 25px;
  text-transform: uppercase;
  margin: 7% 0 0;
}


.click-box{
  display: none;
  &__item{
    width: 50%;
    float: left;
    text-align: center;
  }
}


////////////////////////////////////////////////////////////////////////////////

.footer{
  background-color: #000;
  color: #fff;
  padding: 28px 0;

}

.footer-logo{
  display: inline-block;
  text-decoration: none;
  padding: 0 0 23px;
}

.contacts-info{
  &__bg{
    background: url('../images/contacts-info.png') 0 0 no-repeat;
    padding: 0 0 0 24px;
    min-height: 60px;
  }
  &__item{
    font-size: rem(16);
    font-weight: 600;
    color: #f5f5f5;
    padding: 0 0 5px;
  }
}

.skypes{
  display: inline-block;
  vertical-align: middle;
  font-size: rem(13);
  padding: 10px 0;
  i{
    vertical-align: middle;
  }
}

.copirait{
  font-weight: 700;
  font-size: rem(12);
  color: #777777;
  padding: 13px 0;
}

.footer-nav{
  padding: 16px 0 32px;
  .list-entrance{
    padding: 0 24px 0 0;
    &__item{
      padding: 0 15px 0 0;
    }
  }
  .list-nav{
    &__item{
      padding: 0 8px;
    }
  }
}



.social{
  display: inline-block;
  padding: 0 44px 0 0;
  &__title{
    font-weight: 700;
    color: #f5f5f5;
    font-size: rem(12);
    padding: 0 0 11px;
  }
}

.social-list{
  &__item{
    float: left;
    padding: 0 10px 0 0;
  }
  &__link{
    display: inline-block;
    text-decoration: none;
  }
}




@import "partials/media";
