@media screen and (max-width: 991px) {
  .btn-nav{
    display: inline-block;
    float: right;
    margin: 18px 0 0;
  }
  .header-nav{
    display: none;
    float: none !important;
    width: 100%;
    padding: 0;
    .list-entrance{
      display: block;
      padding: 0;
      &__item{
        display: block;
        padding: 3px 0;
      }
    }
    .list-nav{
      display: block;
      padding: 0 0 10px;
      &__item{
        display: block;
        padding: 3px 0;
      }
    }
    .language {
      padding: 0 0 10px;
    }
  }
  .cr-mob{
    display: block;
  }






  .box-img__content {
      margin: -15% 0 0 -50%;
  }
  h1{
    font-size: rem(36);
  }
  body{
    font-size: rem(16);
  }

  .compe-of {
      display: block;
      float: none !important;
      padding: 7px 0!important;
  }
  .competitions__h {
      text-align: center;
  }
  .footer-wr-logo{
    text-align: center;
  }
  .social {
      display: inline-block;
      padding: 0 50px;
  }
  .peak-design__img{
    width: 100%;
    margin: 20px 0 0;
  }



  .rate-box__img {
      max-width: 100%;
      max-height: 100%;
  }

  .vote-active {
      // -webkit-transform: scale(0.5, 0.5);
      // transform: scale(0.5, 0.5);
  }
  .vote-box__link.active .vote-active {
    -webkit-transform: scale(0.7, 0.7);
    transform: scale(0.7, 0.7);
  }


  .vote-box__item {
    height: auto;
  }
  .vote-nav__item {
    width: 75px;
    height: 60px;
    margin: 0 10px 0 0;
    img{
      width: 100%;
    }
  }
  .vote-btn {
    margin: 0px 13px;
  }

  .vote-sol {
    margin: 5vh 0;
    transform: scale(0.7,0.7);
  }

  .vote-two__h {
      font-size: rem(36);
  }



.rate{
  padding: 0;
}

.levels-mob{
  position: relative!important;
  top: 0!important;
  right: 0!important;
  width: 100%!important;
  margin: 10px 0;
  .levels{
    &__item{
      float: left;
      width: 20%;
    }
    &__link{
      height: 36px;
      line-height: 33px;
      padding: 0;
    }
    &__numb{
      display: none;
    }
  }
}

.list-nav-up{

  &.active {
    display: none;
  }
}
.list-nav__link-up{
    &:before{
    display: none;
  }
}

.langu-up{
  &.active{
    display: none;
  }
}

.language{
  display: none;
  &:before{
    display: none;
  }
}






}


@media screen and (max-width: 767px) {
  .compet-item__img {
      min-width: 100%;
      min-height: auto;
  }
  .compet-item__link {
      font-size: rem(24);
  }
  .compet-list__item {
      width: 25%;
      &:last-child{
        width: 21%;
      }
      &:after {
          right: 3px;
      }
  }

  .box-slid {
      width: 60%;
      &__title {
        line-height: 20px;
        font-size: rem(14);
        padding: 0 0 5px;
    }
  }
  .box-slid__link {
      padding: 13px 13px;
  }
  h1{
    font-size: rem(24);
  }
.vote {
    overflow: visible;
  }
.vote-box{
  overflow: auto;
  height: 100%;
  width: 100%;
  padding: 0 0 160px;
}
.vote-box__item {
    width: 100%;
    //height: 50vh;
    float: none;
    margin: 0 auto;
}
.vote-box__link{
  display: block;
}
.vote-head__h {
    font-size: rem(14);
}
.vote-nav__item {
    width: 60px;
    height: 45px;
    margin: 0 3px;
}
.vote-nav {
    float: none;
    margin: 0 0 10px;
    text-align: center;
}
.vote-footer{
  text-align: center;
  height: 200px;
  margin: 0 0 -70px 0;
}
.vote-btn {
    float: none;
    font-size: rem(14);
    padding: 10px 50px;
}
.vote-head {
    height: 50px;
    padding: 20px 0 0;
}
.vote-box__link.active .vote-active {
    transform: scale(0.5, 0.5);
}


.vote-two__h {
    font-size: rem(30);
    padding: 0 20px;
}
.vote-sol {
    margin: -40px 0;
    transform: scale(0.5, 0.5);
}
.click-box{
  display: block;
  margin: 0 0 20px;
}


.vote-nav{
  float: none;
  max-width: 100%;
}


}





@media screen and (max-width: 543px) {

  .box-slid {
      width: 70%;
      &__title {
        line-height: 20px;
        font-size: rem(16);
        padding: 11px 0 43px;
    }
  }
  .box-slid__link {
      padding: 20px 25px;
  }
  h1{
    font-size: rem(30);
  }
  .box-img__content {
      margin: -49% 0 0 -50%;
  }
  .competitions__h {
      text-align: left;
      line-height: 36px;
      padding: 0 0 22px;
  }
  .competitions {
      padding: 40px 0;
  }
  .compet-btn__btn {
      width: 100%;
  }
  .compet-btn {
      padding: 18px 0;
  }
  .footer-wr-logo {
      text-align: left;
  }
  .footer-nav {
    .list-nav__item {
        padding: 14px 10px 0 0;
    }
  }
  .social {
    display: inline-block;
    padding: 0 0 15px;
}
.copirait{
  display: none;
}
.box-slid-two {
    text-align: left;
}

.nav-menu{
  &__item{
  }
  &__link{
    font-size: rem(14);
    font-weight: 400;
    padding: 22px 3px;

  }
}
.photo-img {
    width: 100%;
}
.competition {
    padding: 30px 0 0;
}

h3{
  font-size: rem(24);
}

.member__item {
    margin: 0 0 20px;
}

.peak-design {
    padding: 30px 0;
}
.levels__link{
  font-size: rem(8);
}


.rate {
    padding: 0;
}

.rate-head__numb {
    width: 28px;
    height: 28px;
    font-size: rem(18);
    line-height: 25px;
}
.rate-head__top {
    padding: 0 0 8px 50px;
}
.rate-head__h {
    font-size: rem(18);
    padding: 0 0 15px;
}
.popular {
    padding: 0 0 6px 0;
    display: block;
}
.rate-box{
  margin: 0 0 30px;
}
.rate__item {
    margin: 0 0 10px;
}
.rules-icons {
    padding: 0 ;
}

.rules-numb{
  width: 58px;
  height: 58px;
  line-height: 50px;
  font-size: rem(30);
}
.rules-content{
  font-size: 14px;
  line-height: 24px;
}
.rules-list {
    padding: 0 0 10px;
}

.vote-box__item {
    //height: 23vh;
}
.vote-box__item img {
    //height: 110px;
}
.closes {
    margin: -10px 0 0;
}


}
