/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$btn-nav-name: 'btn-nav';
$btn-nav-x: 0px;
$btn-nav-y: 0px;
$btn-nav-offset-x: 0px;
$btn-nav-offset-y: 0px;
$btn-nav-width: 30px;
$btn-nav-height: 30px;
$btn-nav-total-width: 40px;
$btn-nav-total-height: 378px;
$btn-nav-image: '../images/sprite.png';
$btn-nav: (0px, 0px, 0px, 0px, 30px, 30px, 40px, 378px, '../images/sprite.png', 'btn-nav', );
$skype-ico-name: 'skype-ico';
$skype-ico-x: 0px;
$skype-ico-y: 35px;
$skype-ico-offset-x: 0px;
$skype-ico-offset-y: -35px;
$skype-ico-width: 12px;
$skype-ico-height: 13px;
$skype-ico-total-width: 40px;
$skype-ico-total-height: 378px;
$skype-ico-image: '../images/sprite.png';
$skype-ico: (0px, 35px, 0px, -35px, 12px, 13px, 40px, 378px, '../images/sprite.png', 'skype-ico', );
$social-ico-1-name: 'social-ico-1';
$social-ico-1-x: 0px;
$social-ico-1-y: 53px;
$social-ico-1-offset-x: 0px;
$social-ico-1-offset-y: -53px;
$social-ico-1-width: 28px;
$social-ico-1-height: 28px;
$social-ico-1-total-width: 40px;
$social-ico-1-total-height: 378px;
$social-ico-1-image: '../images/sprite.png';
$social-ico-1: (0px, 53px, 0px, -53px, 28px, 28px, 40px, 378px, '../images/sprite.png', 'social-ico-1', );
$social-ico-2-name: 'social-ico-2';
$social-ico-2-x: 0px;
$social-ico-2-y: 86px;
$social-ico-2-offset-x: 0px;
$social-ico-2-offset-y: -86px;
$social-ico-2-width: 28px;
$social-ico-2-height: 28px;
$social-ico-2-total-width: 40px;
$social-ico-2-total-height: 378px;
$social-ico-2-image: '../images/sprite.png';
$social-ico-2: (0px, 86px, 0px, -86px, 28px, 28px, 40px, 378px, '../images/sprite.png', 'social-ico-2', );
$social-ico-3-name: 'social-ico-3';
$social-ico-3-x: 0px;
$social-ico-3-y: 119px;
$social-ico-3-offset-x: 0px;
$social-ico-3-offset-y: -119px;
$social-ico-3-width: 28px;
$social-ico-3-height: 28px;
$social-ico-3-total-width: 40px;
$social-ico-3-total-height: 378px;
$social-ico-3-image: '../images/sprite.png';
$social-ico-3: (0px, 119px, 0px, -119px, 28px, 28px, 40px, 378px, '../images/sprite.png', 'social-ico-3', );
$social-ico-4-name: 'social-ico-4';
$social-ico-4-x: 0px;
$social-ico-4-y: 152px;
$social-ico-4-offset-x: 0px;
$social-ico-4-offset-y: -152px;
$social-ico-4-width: 28px;
$social-ico-4-height: 28px;
$social-ico-4-total-width: 40px;
$social-ico-4-total-height: 378px;
$social-ico-4-image: '../images/sprite.png';
$social-ico-4: (0px, 152px, 0px, -152px, 28px, 28px, 40px, 378px, '../images/sprite.png', 'social-ico-4', );
$social-ico-5-name: 'social-ico-5';
$social-ico-5-x: 0px;
$social-ico-5-y: 185px;
$social-ico-5-offset-x: 0px;
$social-ico-5-offset-y: -185px;
$social-ico-5-width: 28px;
$social-ico-5-height: 28px;
$social-ico-5-total-width: 40px;
$social-ico-5-total-height: 378px;
$social-ico-5-image: '../images/sprite.png';
$social-ico-5: (0px, 185px, 0px, -185px, 28px, 28px, 40px, 378px, '../images/sprite.png', 'social-ico-5', );
$valut-ico-1-name: 'valut-ico-1';
$valut-ico-1-x: 0px;
$valut-ico-1-y: 218px;
$valut-ico-1-offset-x: 0px;
$valut-ico-1-offset-y: -218px;
$valut-ico-1-width: 40px;
$valut-ico-1-height: 28px;
$valut-ico-1-total-width: 40px;
$valut-ico-1-total-height: 378px;
$valut-ico-1-image: '../images/sprite.png';
$valut-ico-1: (0px, 218px, 0px, -218px, 40px, 28px, 40px, 378px, '../images/sprite.png', 'valut-ico-1', );
$valut-ico-2-name: 'valut-ico-2';
$valut-ico-2-x: 0px;
$valut-ico-2-y: 251px;
$valut-ico-2-offset-x: 0px;
$valut-ico-2-offset-y: -251px;
$valut-ico-2-width: 40px;
$valut-ico-2-height: 28px;
$valut-ico-2-total-width: 40px;
$valut-ico-2-total-height: 378px;
$valut-ico-2-image: '../images/sprite.png';
$valut-ico-2: (0px, 251px, 0px, -251px, 40px, 28px, 40px, 378px, '../images/sprite.png', 'valut-ico-2', );
$valut-ico-3-name: 'valut-ico-3';
$valut-ico-3-x: 0px;
$valut-ico-3-y: 284px;
$valut-ico-3-offset-x: 0px;
$valut-ico-3-offset-y: -284px;
$valut-ico-3-width: 40px;
$valut-ico-3-height: 28px;
$valut-ico-3-total-width: 40px;
$valut-ico-3-total-height: 378px;
$valut-ico-3-image: '../images/sprite.png';
$valut-ico-3: (0px, 284px, 0px, -284px, 40px, 28px, 40px, 378px, '../images/sprite.png', 'valut-ico-3', );
$valut-ico-4-name: 'valut-ico-4';
$valut-ico-4-x: 0px;
$valut-ico-4-y: 317px;
$valut-ico-4-offset-x: 0px;
$valut-ico-4-offset-y: -317px;
$valut-ico-4-width: 40px;
$valut-ico-4-height: 28px;
$valut-ico-4-total-width: 40px;
$valut-ico-4-total-height: 378px;
$valut-ico-4-image: '../images/sprite.png';
$valut-ico-4: (0px, 317px, 0px, -317px, 40px, 28px, 40px, 378px, '../images/sprite.png', 'valut-ico-4', );
$valut-ico-5-name: 'valut-ico-5';
$valut-ico-5-x: 0px;
$valut-ico-5-y: 350px;
$valut-ico-5-offset-x: 0px;
$valut-ico-5-offset-y: -350px;
$valut-ico-5-width: 40px;
$valut-ico-5-height: 28px;
$valut-ico-5-total-width: 40px;
$valut-ico-5-total-height: 378px;
$valut-ico-5-image: '../images/sprite.png';
$valut-ico-5: (0px, 350px, 0px, -350px, 40px, 28px, 40px, 378px, '../images/sprite.png', 'valut-ico-5', );
$spritesheet-width: 40px;
$spritesheet-height: 378px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($btn-nav, $skype-ico, $social-ico-1, $social-ico-2, $social-ico-3, $social-ico-4, $social-ico-5, $valut-ico-1, $valut-ico-2, $valut-ico-3, $valut-ico-4, $valut-ico-5, );
$spritesheet: (40px, 378px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
