/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$btn-nav-name: 'btn-nav';
$btn-nav-x: 0px;
$btn-nav-y: 0px;
$btn-nav-offset-x: 0px;
$btn-nav-offset-y: 0px;
$btn-nav-width: 30px;
$btn-nav-height: 30px;
$btn-nav-total-width: 99px;
$btn-nav-total-height: 1424px;
$btn-nav-image: '../images/sprite.png';
$btn-nav: (0px, 0px, 0px, 0px, 30px, 30px, 99px, 1424px, '../images/sprite.png', 'btn-nav', );
$clik-1-name: 'clik-1';
$clik-1-x: 0px;
$clik-1-y: 35px;
$clik-1-offset-x: 0px;
$clik-1-offset-y: -35px;
$clik-1-width: 88px;
$clik-1-height: 95px;
$clik-1-total-width: 99px;
$clik-1-total-height: 1424px;
$clik-1-image: '../images/sprite.png';
$clik-1: (0px, 35px, 0px, -35px, 88px, 95px, 99px, 1424px, '../images/sprite.png', 'clik-1', );
$clik-2-name: 'clik-2';
$clik-2-x: 0px;
$clik-2-y: 135px;
$clik-2-offset-x: 0px;
$clik-2-offset-y: -135px;
$clik-2-width: 56px;
$clik-2-height: 95px;
$clik-2-total-width: 99px;
$clik-2-total-height: 1424px;
$clik-2-image: '../images/sprite.png';
$clik-2: (0px, 135px, 0px, -135px, 56px, 95px, 99px, 1424px, '../images/sprite.png', 'clik-2', );
$closes-name: 'closes';
$closes-x: 0px;
$closes-y: 235px;
$closes-offset-x: 0px;
$closes-offset-y: -235px;
$closes-width: 28px;
$closes-height: 28px;
$closes-total-width: 99px;
$closes-total-height: 1424px;
$closes-image: '../images/sprite.png';
$closes: (0px, 235px, 0px, -235px, 28px, 28px, 99px, 1424px, '../images/sprite.png', 'closes', );
$line-h-icon-name: 'line-h-icon';
$line-h-icon-x: 0px;
$line-h-icon-y: 268px;
$line-h-icon-offset-x: 0px;
$line-h-icon-offset-y: -268px;
$line-h-icon-width: 13px;
$line-h-icon-height: 22px;
$line-h-icon-total-width: 99px;
$line-h-icon-total-height: 1424px;
$line-h-icon-image: '../images/sprite.png';
$line-h-icon: (0px, 268px, 0px, -268px, 13px, 22px, 99px, 1424px, '../images/sprite.png', 'line-h-icon', );
$member-icon-1-name: 'member-icon-1';
$member-icon-1-x: 0px;
$member-icon-1-y: 295px;
$member-icon-1-offset-x: 0px;
$member-icon-1-offset-y: -295px;
$member-icon-1-width: 39px;
$member-icon-1-height: 39px;
$member-icon-1-total-width: 99px;
$member-icon-1-total-height: 1424px;
$member-icon-1-image: '../images/sprite.png';
$member-icon-1: (0px, 295px, 0px, -295px, 39px, 39px, 99px, 1424px, '../images/sprite.png', 'member-icon-1', );
$member-icon-2-name: 'member-icon-2';
$member-icon-2-x: 0px;
$member-icon-2-y: 339px;
$member-icon-2-offset-x: 0px;
$member-icon-2-offset-y: -339px;
$member-icon-2-width: 39px;
$member-icon-2-height: 39px;
$member-icon-2-total-width: 99px;
$member-icon-2-total-height: 1424px;
$member-icon-2-image: '../images/sprite.png';
$member-icon-2: (0px, 339px, 0px, -339px, 39px, 39px, 99px, 1424px, '../images/sprite.png', 'member-icon-2', );
$member-icon-3-name: 'member-icon-3';
$member-icon-3-x: 0px;
$member-icon-3-y: 383px;
$member-icon-3-offset-x: 0px;
$member-icon-3-offset-y: -383px;
$member-icon-3-width: 39px;
$member-icon-3-height: 39px;
$member-icon-3-total-width: 99px;
$member-icon-3-total-height: 1424px;
$member-icon-3-image: '../images/sprite.png';
$member-icon-3: (0px, 383px, 0px, -383px, 39px, 39px, 99px, 1424px, '../images/sprite.png', 'member-icon-3', );
$member-icon-4-name: 'member-icon-4';
$member-icon-4-x: 0px;
$member-icon-4-y: 427px;
$member-icon-4-offset-x: 0px;
$member-icon-4-offset-y: -427px;
$member-icon-4-width: 39px;
$member-icon-4-height: 39px;
$member-icon-4-total-width: 99px;
$member-icon-4-total-height: 1424px;
$member-icon-4-image: '../images/sprite.png';
$member-icon-4: (0px, 427px, 0px, -427px, 39px, 39px, 99px, 1424px, '../images/sprite.png', 'member-icon-4', );
$popular-icon-1-name: 'popular-icon-1';
$popular-icon-1-x: 0px;
$popular-icon-1-y: 471px;
$popular-icon-1-offset-x: 0px;
$popular-icon-1-offset-y: -471px;
$popular-icon-1-width: 10px;
$popular-icon-1-height: 14px;
$popular-icon-1-total-width: 99px;
$popular-icon-1-total-height: 1424px;
$popular-icon-1-image: '../images/sprite.png';
$popular-icon-1: (0px, 471px, 0px, -471px, 10px, 14px, 99px, 1424px, '../images/sprite.png', 'popular-icon-1', );
$popular-icon-2-name: 'popular-icon-2';
$popular-icon-2-x: 0px;
$popular-icon-2-y: 490px;
$popular-icon-2-offset-x: 0px;
$popular-icon-2-offset-y: -490px;
$popular-icon-2-width: 14px;
$popular-icon-2-height: 14px;
$popular-icon-2-total-width: 99px;
$popular-icon-2-total-height: 1424px;
$popular-icon-2-image: '../images/sprite.png';
$popular-icon-2: (0px, 490px, 0px, -490px, 14px, 14px, 99px, 1424px, '../images/sprite.png', 'popular-icon-2', );
$rules-icon-1-name: 'rules-icon-1';
$rules-icon-1-x: 0px;
$rules-icon-1-y: 509px;
$rules-icon-1-offset-x: 0px;
$rules-icon-1-offset-y: -509px;
$rules-icon-1-width: 60px;
$rules-icon-1-height: 60px;
$rules-icon-1-total-width: 99px;
$rules-icon-1-total-height: 1424px;
$rules-icon-1-image: '../images/sprite.png';
$rules-icon-1: (0px, 509px, 0px, -509px, 60px, 60px, 99px, 1424px, '../images/sprite.png', 'rules-icon-1', );
$rules-icon-2-name: 'rules-icon-2';
$rules-icon-2-x: 0px;
$rules-icon-2-y: 574px;
$rules-icon-2-offset-x: 0px;
$rules-icon-2-offset-y: -574px;
$rules-icon-2-width: 60px;
$rules-icon-2-height: 60px;
$rules-icon-2-total-width: 99px;
$rules-icon-2-total-height: 1424px;
$rules-icon-2-image: '../images/sprite.png';
$rules-icon-2: (0px, 574px, 0px, -574px, 60px, 60px, 99px, 1424px, '../images/sprite.png', 'rules-icon-2', );
$rules-icon-3-name: 'rules-icon-3';
$rules-icon-3-x: 0px;
$rules-icon-3-y: 639px;
$rules-icon-3-offset-x: 0px;
$rules-icon-3-offset-y: -639px;
$rules-icon-3-width: 60px;
$rules-icon-3-height: 60px;
$rules-icon-3-total-width: 99px;
$rules-icon-3-total-height: 1424px;
$rules-icon-3-image: '../images/sprite.png';
$rules-icon-3: (0px, 639px, 0px, -639px, 60px, 60px, 99px, 1424px, '../images/sprite.png', 'rules-icon-3', );
$rules-icon-4-name: 'rules-icon-4';
$rules-icon-4-x: 0px;
$rules-icon-4-y: 704px;
$rules-icon-4-offset-x: 0px;
$rules-icon-4-offset-y: -704px;
$rules-icon-4-width: 60px;
$rules-icon-4-height: 60px;
$rules-icon-4-total-width: 99px;
$rules-icon-4-total-height: 1424px;
$rules-icon-4-image: '../images/sprite.png';
$rules-icon-4: (0px, 704px, 0px, -704px, 60px, 60px, 99px, 1424px, '../images/sprite.png', 'rules-icon-4', );
$rules-icon-5-name: 'rules-icon-5';
$rules-icon-5-x: 0px;
$rules-icon-5-y: 769px;
$rules-icon-5-offset-x: 0px;
$rules-icon-5-offset-y: -769px;
$rules-icon-5-width: 60px;
$rules-icon-5-height: 60px;
$rules-icon-5-total-width: 99px;
$rules-icon-5-total-height: 1424px;
$rules-icon-5-image: '../images/sprite.png';
$rules-icon-5: (0px, 769px, 0px, -769px, 60px, 60px, 99px, 1424px, '../images/sprite.png', 'rules-icon-5', );
$rules-icon-6-name: 'rules-icon-6';
$rules-icon-6-x: 0px;
$rules-icon-6-y: 834px;
$rules-icon-6-offset-x: 0px;
$rules-icon-6-offset-y: -834px;
$rules-icon-6-width: 60px;
$rules-icon-6-height: 60px;
$rules-icon-6-total-width: 99px;
$rules-icon-6-total-height: 1424px;
$rules-icon-6-image: '../images/sprite.png';
$rules-icon-6: (0px, 834px, 0px, -834px, 60px, 60px, 99px, 1424px, '../images/sprite.png', 'rules-icon-6', );
$rules-icon-7-name: 'rules-icon-7';
$rules-icon-7-x: 0px;
$rules-icon-7-y: 899px;
$rules-icon-7-offset-x: 0px;
$rules-icon-7-offset-y: -899px;
$rules-icon-7-width: 60px;
$rules-icon-7-height: 60px;
$rules-icon-7-total-width: 99px;
$rules-icon-7-total-height: 1424px;
$rules-icon-7-image: '../images/sprite.png';
$rules-icon-7: (0px, 899px, 0px, -899px, 60px, 60px, 99px, 1424px, '../images/sprite.png', 'rules-icon-7', );
$skype-ico-name: 'skype-ico';
$skype-ico-x: 0px;
$skype-ico-y: 964px;
$skype-ico-offset-x: 0px;
$skype-ico-offset-y: -964px;
$skype-ico-width: 12px;
$skype-ico-height: 13px;
$skype-ico-total-width: 99px;
$skype-ico-total-height: 1424px;
$skype-ico-image: '../images/sprite.png';
$skype-ico: (0px, 964px, 0px, -964px, 12px, 13px, 99px, 1424px, '../images/sprite.png', 'skype-ico', );
$social-ico-1-name: 'social-ico-1';
$social-ico-1-x: 0px;
$social-ico-1-y: 982px;
$social-ico-1-offset-x: 0px;
$social-ico-1-offset-y: -982px;
$social-ico-1-width: 28px;
$social-ico-1-height: 28px;
$social-ico-1-total-width: 99px;
$social-ico-1-total-height: 1424px;
$social-ico-1-image: '../images/sprite.png';
$social-ico-1: (0px, 982px, 0px, -982px, 28px, 28px, 99px, 1424px, '../images/sprite.png', 'social-ico-1', );
$social-ico-2-name: 'social-ico-2';
$social-ico-2-x: 0px;
$social-ico-2-y: 1015px;
$social-ico-2-offset-x: 0px;
$social-ico-2-offset-y: -1015px;
$social-ico-2-width: 28px;
$social-ico-2-height: 28px;
$social-ico-2-total-width: 99px;
$social-ico-2-total-height: 1424px;
$social-ico-2-image: '../images/sprite.png';
$social-ico-2: (0px, 1015px, 0px, -1015px, 28px, 28px, 99px, 1424px, '../images/sprite.png', 'social-ico-2', );
$social-ico-3-name: 'social-ico-3';
$social-ico-3-x: 0px;
$social-ico-3-y: 1048px;
$social-ico-3-offset-x: 0px;
$social-ico-3-offset-y: -1048px;
$social-ico-3-width: 28px;
$social-ico-3-height: 28px;
$social-ico-3-total-width: 99px;
$social-ico-3-total-height: 1424px;
$social-ico-3-image: '../images/sprite.png';
$social-ico-3: (0px, 1048px, 0px, -1048px, 28px, 28px, 99px, 1424px, '../images/sprite.png', 'social-ico-3', );
$social-ico-4-name: 'social-ico-4';
$social-ico-4-x: 0px;
$social-ico-4-y: 1081px;
$social-ico-4-offset-x: 0px;
$social-ico-4-offset-y: -1081px;
$social-ico-4-width: 28px;
$social-ico-4-height: 28px;
$social-ico-4-total-width: 99px;
$social-ico-4-total-height: 1424px;
$social-ico-4-image: '../images/sprite.png';
$social-ico-4: (0px, 1081px, 0px, -1081px, 28px, 28px, 99px, 1424px, '../images/sprite.png', 'social-ico-4', );
$social-ico-5-name: 'social-ico-5';
$social-ico-5-x: 0px;
$social-ico-5-y: 1114px;
$social-ico-5-offset-x: 0px;
$social-ico-5-offset-y: -1114px;
$social-ico-5-width: 28px;
$social-ico-5-height: 28px;
$social-ico-5-total-width: 99px;
$social-ico-5-total-height: 1424px;
$social-ico-5-image: '../images/sprite.png';
$social-ico-5: (0px, 1114px, 0px, -1114px, 28px, 28px, 99px, 1424px, '../images/sprite.png', 'social-ico-5', );
$started-icon-name: 'started-icon';
$started-icon-x: 0px;
$started-icon-y: 1147px;
$started-icon-offset-x: 0px;
$started-icon-offset-y: -1147px;
$started-icon-width: 8px;
$started-icon-height: 8px;
$started-icon-total-width: 99px;
$started-icon-total-height: 1424px;
$started-icon-image: '../images/sprite.png';
$started-icon: (0px, 1147px, 0px, -1147px, 8px, 8px, 99px, 1424px, '../images/sprite.png', 'started-icon', );
$valut-ico-1-name: 'valut-ico-1';
$valut-ico-1-x: 0px;
$valut-ico-1-y: 1160px;
$valut-ico-1-offset-x: 0px;
$valut-ico-1-offset-y: -1160px;
$valut-ico-1-width: 40px;
$valut-ico-1-height: 28px;
$valut-ico-1-total-width: 99px;
$valut-ico-1-total-height: 1424px;
$valut-ico-1-image: '../images/sprite.png';
$valut-ico-1: (0px, 1160px, 0px, -1160px, 40px, 28px, 99px, 1424px, '../images/sprite.png', 'valut-ico-1', );
$valut-ico-2-name: 'valut-ico-2';
$valut-ico-2-x: 0px;
$valut-ico-2-y: 1193px;
$valut-ico-2-offset-x: 0px;
$valut-ico-2-offset-y: -1193px;
$valut-ico-2-width: 40px;
$valut-ico-2-height: 28px;
$valut-ico-2-total-width: 99px;
$valut-ico-2-total-height: 1424px;
$valut-ico-2-image: '../images/sprite.png';
$valut-ico-2: (0px, 1193px, 0px, -1193px, 40px, 28px, 99px, 1424px, '../images/sprite.png', 'valut-ico-2', );
$valut-ico-3-name: 'valut-ico-3';
$valut-ico-3-x: 0px;
$valut-ico-3-y: 1226px;
$valut-ico-3-offset-x: 0px;
$valut-ico-3-offset-y: -1226px;
$valut-ico-3-width: 40px;
$valut-ico-3-height: 28px;
$valut-ico-3-total-width: 99px;
$valut-ico-3-total-height: 1424px;
$valut-ico-3-image: '../images/sprite.png';
$valut-ico-3: (0px, 1226px, 0px, -1226px, 40px, 28px, 99px, 1424px, '../images/sprite.png', 'valut-ico-3', );
$valut-ico-4-name: 'valut-ico-4';
$valut-ico-4-x: 0px;
$valut-ico-4-y: 1259px;
$valut-ico-4-offset-x: 0px;
$valut-ico-4-offset-y: -1259px;
$valut-ico-4-width: 40px;
$valut-ico-4-height: 28px;
$valut-ico-4-total-width: 99px;
$valut-ico-4-total-height: 1424px;
$valut-ico-4-image: '../images/sprite.png';
$valut-ico-4: (0px, 1259px, 0px, -1259px, 40px, 28px, 99px, 1424px, '../images/sprite.png', 'valut-ico-4', );
$valut-ico-5-name: 'valut-ico-5';
$valut-ico-5-x: 0px;
$valut-ico-5-y: 1292px;
$valut-ico-5-offset-x: 0px;
$valut-ico-5-offset-y: -1292px;
$valut-ico-5-width: 40px;
$valut-ico-5-height: 28px;
$valut-ico-5-total-width: 99px;
$valut-ico-5-total-height: 1424px;
$valut-ico-5-image: '../images/sprite.png';
$valut-ico-5: (0px, 1292px, 0px, -1292px, 40px, 28px, 99px, 1424px, '../images/sprite.png', 'valut-ico-5', );
$vote-active-name: 'vote-active';
$vote-active-x: 0px;
$vote-active-y: 1325px;
$vote-active-offset-x: 0px;
$vote-active-offset-y: -1325px;
$vote-active-width: 99px;
$vote-active-height: 99px;
$vote-active-total-width: 99px;
$vote-active-total-height: 1424px;
$vote-active-image: '../images/sprite.png';
$vote-active: (0px, 1325px, 0px, -1325px, 99px, 99px, 99px, 1424px, '../images/sprite.png', 'vote-active', );
$spritesheet-width: 99px;
$spritesheet-height: 1424px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($btn-nav, $clik-1, $clik-2, $closes, $line-h-icon, $member-icon-1, $member-icon-2, $member-icon-3, $member-icon-4, $popular-icon-1, $popular-icon-2, $rules-icon-1, $rules-icon-2, $rules-icon-3, $rules-icon-4, $rules-icon-5, $rules-icon-6, $rules-icon-7, $skype-ico, $social-ico-1, $social-ico-2, $social-ico-3, $social-ico-4, $social-ico-5, $started-icon, $valut-ico-1, $valut-ico-2, $valut-ico-3, $valut-ico-4, $valut-ico-5, $vote-active, );
$spritesheet: (99px, 1424px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
